* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}

:root {
    --blue: #345FF6;
    --gunmetal: #253347;
    --dark_electric_blue: #5E6E85;
    --white: #fff;
    --red: #F21E84;
    --orange: #F69134;
    --green: #22C1C1;
    --pupple: #9747FF;
    --yellow: #FFC700;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

header {
    padding-top: 4.5rem;
    padding-bottom: 1.75rem;
}

main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1160px;
}

i {
    display: block;
}

.logo_wrapper i {
    mask: url(./assets/images/logo.svg) center no-repeat;
    -webkit-mask: url(./assets/images/logo.svg) center no-repeat;
    width: 60px;
    height: 60px;
    background-color: #B3D3F1;
}

.hero_wrapper::before {
    content: '';
    background-image: linear-gradient(to bottom right, rgba(214, 252, 254, 0), rgba(214, 230, 254, 1));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 85%;
    height: 45rem;
    top: 0;
    right: 25%;
    z-index: -1;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.hero {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    align-items: center;
    position: relative;
}



.hero .left {
    width: calc(50% - 1rem);
}

.left h1 {
    color: var(--gunmetal);
    line-height: 110%;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.left .desc {
    color: var(--dark_electric_blue);
    line-height: 150%;
}

.right {
    width: calc(50% - 1rem);
    box-shadow: 0 0 1rem .5rem rgba(214, 230, 254, .5);
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
}

.right h2 {
    color: var(--gunmetal);
    font-size: 1.5rem;
    font-weight: 700%;
}

form {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
}

form fieldset {
    border: unset;
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    width: 100%;
    position: relative;
}

form .radio_group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.radio_group label {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
    color: var(--gunmetal);
    line-height: 150%;
    font-weight: 700;
}

.radio_group input {
    width: 2rem;
    height: 2rem;
    outline: none;
}

.form_group.col-6 {
    width: calc(50% - 1rem);
}

.form_group label {
    color: var(--dark_electric_blue);
    font-size: 0.875rem;
    line-height: 150%;
}

.form_group .form_control {
    padding: 1.25rem;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--gunmetal);
    border-radius: .5rem;
    border: 1px solid var(--dark_electric_blue);
    outline: unset;
    width: 100%;
}

.form_group .unit {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 700;
}

fieldset[imp] {
    display: none;
}

form[unit_type="imp"] .form_group {
    display: none;
}

form[unit_type="imp"] fieldset[imp] {
    display: flex;
}

.info {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--blue);
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.info .bmi {
    display: flex;
    flex-flow: row nowrap;
    color: var(--white);
    align-items: center;
    gap: 1.5rem;
}

.index {
    width: calc(50% - 0.75rem);
}

.index span {
    font-size: 1.125rem;
    line-height: 150%;
}

.index h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 110%;
    color: var(--white);
}

.bmi p {
    font-size: 0.875rem;
    line-height: 150%;
    width: calc(50% - 0.75rem);
}

.info .empty {
    display: none;
}

.info[empty] .bmi {
    display: none;
}

.info[empty] .empty {
    display: block;
}

.empty h2 {
    color: var(--white);
    font-weight: 700;
    font-size: 1.5rem;
}

.empty p {
    font-size: 0.875rem;
    line-height: 150%;
    color: var(--white);
    margin-top: 1rem;
}

.about {
    display: flex;
    flex-flow: row wrap;
    gap: 8.125rem;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-top: 12rem;
}

.about img {
    object-fit: cover;
    width: calc(50% - 4.0625rem);
    max-width: 35.25rem;
    height: 100%;
    max-height: 33.3125rem;
    aspect-ratio: 1;
}

.about .content {
    flex-basis: calc(50% - 4.0625rem);
    margin-bottom: 2.5rem;
}

.about .content::before {
    content: url(./assets/images/pattern-curved-line-left.svg);
    top: -2rem;
    right: 0;
    width: 5.5rem;
    height: 12.5rem;
    position: absolute;

}

.about h2 {
    line-height: 110%;
    color: var(--gunmetal);
    font-size: 3rem;
    font-weight: 700;
}

.about .desc {
    color: var(--dark_electric_blue);
    line-height: 150%;
    margin-top: 2rem;
}

.tip_warpper {
    margin-top: 6rem;
    background-image: linear-gradient(to bottom right, rgba(214, 252, 254, 0), rgba(214, 230, 254, .25));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 99%;
    border-radius: 2rem;
}

.tips {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 5.25rem 0;

}

.tip {
    width: calc(33.33% - 1.33333rem);
}

.tip i {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

i.eating {
    mask: url(./assets/images/icon-eating.svg) center no-repeat;
    -webkit-mask: url(./assets/images/icon-eating.svg) center no-repeat;
    background-color: var(--red);
}

i.exercise {
    mask: url(./assets/images/icon-exercise.svg) center no-repeat;
    -webkit-mask: url(./assets/images/icon-exercise.svg) center no-repeat;
    background-color: var(--orange);
}

i.sleep {
    mask: url(./assets/images/icon-sleep.svg) center no-repeat;
    -webkit-mask: url(./assets/images/icon-sleep.svg) center no-repeat;
    background-color: var(--green);
}

.tip h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: var(--gunmetal);
    font-weight: 700;
    font-size: 1.5rem;
}

.tip .desc {
    color: var(--dark_electric_blue);
    line-height: 150%;
}

.limits {
    display: grid;
    grid-template: repeat(6, fit-content(10rem)) / repeat(3, fit-content(14.5rem));
    gap: 2rem;
    margin-top: 7.5rem;
}

.item1 {
    grid-area: 1/1/2/4;
}

.item2 {
    grid-area: 1/4/2/6;
}

.item3 {
    grid-area: 2/2/3/3;
}

.item4 {
    grid-area: 2/3/3/5;
}

.item5 {
    grid-area: 2/5/3/7;
}

.item6 {
    grid-area: 3/2/4/4;
}

.item7 {
    grid-area: 3/4/4/6;
}

.limits .content h2 {
    color: var(--gunmetal);
    line-height: 110%;
    font-size: 3rem;
}

.limit p {
    color: var(--dark_electric_blue);
    line-height: 150%;
}

.limits .content p {
    margin-top: 2rem;
}

.limit {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    padding: 2rem;
    box-shadow: 1rem 1rem 1rem .5rem rgba(214, 230, 254, .25);
    border-radius: .5rem;
}

.limit.item3 {
    box-shadow: unset;

}

.limit i {
    width: 2rem;
    height: 2rem;
}

.item2 i {
    mask: url(./assets/images/icon-gender.svg) center no-repeat;
    -webkit-mask: url(./assets/images/icon-gender.svg) center no-repeat;
    background-color: var(--orange);
}

.item3 i {
    width: 6rem;
    height: 8rem;
    mask: url(./assets/images/pattern-curved-line-right.svg) center no-repeat;
    -webkit-mask: url(./assets/images/pattern-curved-line-right.svg) center no-repeat;
    background-color: var(--dark_electric_blue);
}

.item4 i {
    mask: url(./assets/images/icon-age.svg) center no-repeat;
    -webkit-mask: url(./assets/images/icon-age.svg) center no-repeat;
    background-color: var(--green);
}

.item5 i {
    mask: url(./assets/images/icon-muscle.svg) center no-repeat;
    -webkit-mask: url(./assets/images/icon-muscle.svg) center no-repeat;
    background-color: var(--pupple);
}

.item6 i {
    mask: url(./assets/images/icon-pregnancy.svg) center no-repeat;
    -webkit-mask: url(./assets/images/icon-pregnancy.svg) center no-repeat;
    background-color: var(--yellow);
}

.item7 i {
    mask: url(./assets/images/icon-race.svg) center no-repeat;
    -webkit-mask: url(./assets/images/icon-race.svg) center no-repeat;
    background-color: var(--red);
}


@media (max-width:1024px) {

    html,
    body {
        font-size: 14px;
    }

    .container {
        width: 85%;
    }

    .logo_wrapper i {
        margin: 0 auto;
    }

    .hero_wrapper::before {
        width: 100%;
        right: 0;
    }

    .hero .left {
        width: 100%;
        text-align: center;
    }

    .right {
        width: 100%;
    }

    .about {
        gap: 2rem;
    }

    .about img {
        width: calc(50% - 1rem);
    }

    .about .content {
        flex-basis: calc(50% - 1rem);
    }

    .about .content::before {
        display: none;
    }

    .tips {
        justify-content: center;
    }

    .tip {
        width: calc(50% - 1rem);
    }

    .limits {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        row-gap: 3.5rem;
        justify-content: center;
    }

    .limits .content {
        text-align: center;
        width: 100%;
    }

    .item3 {
        display: none;
    }

    .limit {
        width: calc(50% - .5rem);
    }
}

@media (max-width:767px) {

    html,
    body {
        font-size: 12px;
    }

    .container {
        width: 95%;
    }

    .about {
        justify-content: center;
    }

    .about img {
        width: 100%;
    }

    .about .content {
        flex-basis: 100%;
        text-align: center;
    }

    .about .content p {
        text-align: justify;
    }

    .tip {
        width: 100%;
    }

    .limits .content p {
        text-align: justify;

    }

    .limit {
        width: 100%;
    }
}